<h2><p style="text-align:center;"> Assignment - Module 4 </p></h2>
<h3><p style="text-align:center;"> 31 July 2021 </p></h3>
<h3><p style="text-align:center;"> Group 23: Aman Jindal | Yuhang Jiang | Daniel Gabriel Tan | Qining Liu </p></h3>
<br>

#### Q1.There are 10 people. What are the number of ways in which you can split them into a team of 6 and a team of 4? Additionally, what are the number of ways in which you can split them into two teams of 5 each?

#### Answer 1:

- Number of ways to split the 10 people in teams of 6 and 4 are:
    
$$^{10}C_6\,=\,^{10}C_4$$

- Number of ways to split the 10 people in teams of 5 and 5 are:
  
$$\frac{^{10}C_5}{2}$$
  
This is because the two groups are identical in number. Thus, division by 2.

<hr style="height:1.5px;color:black;background-color:black">

In [1]:
1+1

2